<h1>Essa é a página inicial do site XYZ.</h1>

{{#if isAnimals}}
    <p>Legal, você tem animais!!</p>
{{else}}
    <p>Você não possui nenhum animal.</p>
{{/if}}

{{#if aparecerNome}}
    <p>Seu nome é ......</p>
{{/if}}